.nav {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    text-align: center;
  }  

.link {
   color: black; 
   box-sizing: border-box;
   margin: 10px;
   padding: 5px;
   text-align: center;
}

.link:hover {
    text-decoration: none; 
    color: green;
}

input {
    margin: .4rem;
} 